<!doctype html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>Pandemiczny W-F</title>
  <meta name="description" content="Ćwiczenia w okresie pandemii">
  <meta name="author" content="Szymon Gawrylak">

  <link rel="stylesheet" href="css/styles.css">

  <script type="text/javascript" src="script/vue.js"></script>
  <script type="text/javascript" src="script/axios.min.js"></script>
  <script type="text/javascript" src="script/showdown.min.js"></script>

</head>

<body>
  <div id="app">
       
    <div class="header" onclick="location.href = 'index.html'">Szymon Gawrylak "Pandemiczny W-F</div>
    <div class="content2">
            <div class="konfiguracja" v-bind:class="{invisible: (mode == 'go') || (mode == 'finish')}">
              Czas ćwiczeń: {{czas}} min.
              <input class="slider" type="range" max="65" min="3" v-model="czas"></input>
              <button class="commit" v-on:click="losuj">
                Losuj zestaw ćwiczeń
              </button>
            </div>
            
            <div class="go" v-bind:class="{invisible: (mode != 'go')}">
              <div class="row">
                <div class="goleft">
                  <span class="seria">
                    Seria: {{aktualnaseria}} / {{iloscserii}}
                  </span>
                  <span class="numercwiczenia" style="margin-left: 20px;">
                    Ćwiczenie: {{aktualnecwiczenie}} / {{ilosccwiczen}}
                  </span>
                  <div class="timer">
                    <img src="data/zegar.svg" class="animation"/>
                      <div class="zegar">
                        {{reszta_czasu_cwiczenia}} s.
                      </div>
                  </div>
              </div>
              <div class="goright">
                <div class="nazwa_cwiczenia">
                  {{nazwa_cwiczenia_teraz}}
                </div>
                <div class="photo">
                  <img :src="aktualne_cwiczenie_obrazek"/>
                </div>
                <div v-bind:class="{invisible: (kolejne_cwiczenie == null)}">
                <div class="text_kolejne_cwiczenie">
                 Kolejnym ćwiczeniem jest:
                </div>
                   <div class="next_exercise">
                  {{kolejne_cwiczenie}}
                </div>
                <div class="nastepne_cwiczenie_rysunek" v-bind:class="{invisible: (nastepne_cwiczenie_obrazek == null)}">
                  <img :src="nastepne_cwiczenie_obrazek"/>
                </div>
                </div>
              </div>
              </div>
            </div>
            
            <div class="row" v-bind:class="{invisible: (mode != 'polosowaniu')}">
              <div class="panelik">
                <button class="start" v-on:click="start_cwiczen" style="margin-top: 1%; margin-left: 72%;">
                  Start ćwiczeń
                </button>
                <div class ="tytulik">
                  <span>Lista wylosowanych ćwiczeń:</span>
                </div>
                <ul>
                  <li class="lista_cwiczen" v-bind:class="{activeButton: (exercise.file == currentFile)}"
                  v-for="exercise in exerciseList" v-on:click="opis_cwiczenia(exercise)">         
                 {{exercise.name}} [ {{iloscserii}} x 20 sek. ]
            </li>
          </ul>
            </div>
            <div class="detale" id="content"></div>
            </div>
    </div>
    <div class=final v-bind:class="{invisible: (mode != 'finish')}">
      
      <div class="tekst"> Brawo przećwiczyłeś/aś {{czas}} minut ćwiczeń :)</div> 
      
      <div class="menu" >
      <ul>
        <li class="menu_cwiczen" onclick="location.href = 'los.html'">          
          ponowne losowanie ćwiczeń
      </li>
        <li class="menu_cwiczen" onclick="location.href = 'index.html'">          
          Strona główna
      </li>
    </ul>
    </div>
  </div>

</div>

  </div>

  <script src="script/engine_cwiczen.js"></script>



</body>
</html>
