<!doctype html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

  <script type="text/javascript" src="script/vue.js"></script>
  <script type="text/javascript" src="script/axios.min.js"></script>
  <script type="text/javascript" src="script/showdown.min.js"></script>

</head>

<body>
  <div id="app">
       
    <div class="header">Pandemiczny W-F</div>
    <div class="content2">
            <div class="konfiguracja" v-bind:class="{invisible: (mode == 'go')}">
              Czas ćwiczeń: {{czas}} min.
              <input class="slider" type="range" max="65" min="3" v-model="czas"></input>
              <button class="commit" v-on:click="losuj">
                Losuj zestaw ćwiczeń
              </button>
            </div>
            
            <div class="go" v-bind:class="{invisible: (mode != 'go')}">
              <div class="row">
                <div class="goleft">
                  <div class="seria">
                    Seria: {{aktualnaseria}} / {{iloscserii}}
                  </div>
                  <div class="numercwiczenia">
                    Ćwiczenie: {{aktualnecwiczenie}} / {{ilosccwiczen}}
                  </div>
                  <div class="zegar">
                    Czas: {{reszta_czasu_cwiczenia}}
                  </div>
              </div>
              <div class="goright">
                <div class="nazwa_cwiczenia">
                  {{nazwa_cwiczenia_teraz}}
                </div>
                <div class="photo">
                  <img src="aktualne_cwiczenie_obrazek"/>
                </div>
              </div>
              </div>
            </div>
            
            <div class="row" v-bind:class="{invisible: (mode != 'polosowaniu')}">
              <div class="panelik">
                <button class="start" v-on:click="start_cwiczen">
                  Start ćwiczeń
                </button>
                <div class ="tytulik">
                  <span>Lista wylosowanych ćwiczeń:</span>
                </div>
                <ul>
                  <li class="lista_cwiczen" v-bind:class="{activeButton: (exercise.file == currentFile)}"
                  v-for="exercise in exerciseList" v-on:click="opis_cwiczenia(exercise)">         
              {{exercise.name}}
            </li>
          </ul>
            </div>
            <div class="detale" id="content"></div>
            </div>
    </div>
  </div>
  </div>

  <script src="script/engine_cwiczen.js"></script>
</body>
</html>
