<!doctype html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>Pandemiczny W-F</title>
  <meta name="description" content="Ćwiczenia w okresie pandemii">
  <meta name="author" content="Szymon Gawrylak">

  <link rel="stylesheet" href="css/styles.css">

  <script type="text/javascript" src="script/vue.js"></script>
  <script type="text/javascript" src="script/axios.min.js"></script>
  <script type="text/javascript" src="script/showdown.min.js"></script>

</head>

<body>
  <div id="app">
    <div class="row">

      <div class="header">Pandemiczny W-F</div>
      <div class="sidenav">
        <div class ="tytul">
          <span>Historia twoich ćwiczeń:</span>
        </div>
        <ul>
          <li class="menu_cwiczen" v-on:click="show_details(index)"
          v-for="(save, index) in saves">          
          {{save.data | formatujDate}}
        </li>
      </ul>
    </div> 
    
    <div v-if="current_save" class="content" id="content">
      <div class="data_startu">
        Ćwiczenia zaczęto {{current_save.data | formatujDate}}.
      </div>
      <div class="czas_trwania_starych_cwiczen">
        {{current_save.czas_trwania}}
      </div>
      <div class="ilosc_serii">
        {{current_save.serie}}
      </div>
      <div class="lista_cwiczenH">
        Wykonane ćwiczenia:
        <ul>
          <li v-for="x in current_save.cwiczenia">
              {{x.znacznik | podaj_nazwe}} [{{x.czas}} sek.]              
          </li>
        </ul>
      </div>
    
    </div>
  </div>
  </div>

  <script src="script/engine_end.js"></script>
</body>
</html>